<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="extentlisteners.ExtentListeners">
		</listener>
	</listeners>
	<test name="FirstTest" enabled="false">
		<classes>
			<class name="testcases.CompareTest" />
		</classes>
	</test>
	<test name="SecondTest" enabled="false">
		<classes>
			<class name="testcases.Test2" />
		</classes>
	</test>
	<test name="Thirdtest" enabled="false">
		<classes>
			<class name="testcases.Test3" />
		</classes>
	</test>
	<test name="Fourthtest_CSV" enabled="false">
		<classes>
			<class name="testcases.Test1" />
		</classes>
	</test>
	<test name="FifthTest_CSV" enabled="false">
		<classes>
			<class name="testcases.APITest" />
		</classes>
	</test>
		<test name="SIXTest_CSV" enabled="false">
		<classes>
			<class name="testcases.TestToCompareLogFiles" />
		</classes>
	</test>
	<test name="CSV,compareXML" enabled="true">
		<classes>
			<class name="testcases.TestToCompareXMLFiles" />
		</classes>
	</test>
	<test name="HitApi,compareXMl,TD-CSV" enabled="false">
		<classes>
			<class name="testcases.TestToHitApiNcompareXMLs" />
		</classes>
	</test>
	
	
	
</suite> 
